[submodule "lib/CMSIS_5"]
	path = lib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "lib/CMSIS-DSP"]
	path = lib/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
[submodule "src/drivers/MagRep/HSCDTD008A-Library"]
	path = src/drivers/MagRep/HSCDTD008A-Library
	url = https://github.com/bobveringa/HSCDTD008A-Library.git
[submodule "src/drivers/LABS/Assignment/Magno/HSCDTD008A-Library"]
	path = src/drivers/LABS/Assignment/Magno/HSCDTD008A-Library
	url = https://github.com/bobveringa/HSCDTD008A-Library.git
